/* RESET CSS */
*, *::before, *::after{margin:0;padding:0;box-sizing:border-box;}
img, picture, video, canvas, svg{display:block;max-width:100%;}
input, button, textarea, select{font:inherit;}
p, h1, h2, h3, h4, h5, h6{overflow-wrap:break-word;}
#root, #__next{isolation:isolate;}
a{color:inherit;text-decoration:none;}
a:hover{text-decoration:underline;}
li{display:inline-block;}
.flex-b{display:flex;justify-content:space-between;}
.align-ic{align-items:center;}
.dn{display:none;}

body{font:normal 16px/1.5 Inter, "Trebuchet MS", Helvetica, sans-serif;color:#fff;background-color:#241f47;}
@media screen and (max-width:1114px) { /* MOBILE */
	body{padding:20px 20px 127px 20px;}
}
@media screen and (min-width:1114px) { /* TABLET */
	body{font-size:32px;padding:25px 20px 30px 20px;}
}


/*******************************************/
/************** MAIN BLOCS *****************/
/*******************************************/
/* @media screen and (min-width:px) and (max-width:px){} */
.wrap{position:relative;max-width:2500px;}
body > .wrap > header{display:flex;justify-content:space-between;}
/*******************************************/




/*******************************************/
/**************** HEADER *******************/
/*******************************************/
h2{font-size:18px;}
#main-nav li:not(:last-child){margin-right:13px;}
#main-nav a{font-size:14px;}

@media screen and (min-width:1114px) { /* TABLET */
	h2{font-size:32px;}
	#main-nav a{font-size:30px;}
}
/*******************************************/




/********************************************/
/**************** CONTENT *******************/
/********************************************/

/***************/
/** Home Page **/
/***************/
/* @media screen and (min-width:px) and (max-width:px){} */
h1{line-height:35px;font-size:30px;}
.box-1{display:flex;margin:8px 0 13px;justify-content:space-between;}
.box-1 .txt{padding-top:18px;}
.box-1 .txt p{margin-bottom:20px;}
.img-container{width:60% /*45.31%*/;}
.box-1 img{width:100%;max-width:none;border-radius:145px;}
.style-1{color:#32afca;}
.spacer-1{margin-bottom:27px;}
.box-small{display:inline-block;padding:1px 12px;border-radius:5px;font-size:14px;}
.box-small.white{background-color:#fff;color:#000;}
.box-small.green{background-color:#4b9439;color:#fff;}
.box-big{margin:20px 20px 25px;padding-left:20px;padding-right:20px;background:#f4f4f4;border:1px solid #bbb;
	border-radius:5px;}
.list-picto{display:flex;justify-content:space-between;}
.list-picto:not(:last-child){margin-bottom:18px;}
.list-picto li{display:flex;width:26.5%;align-items:center;overflow:hidden;}
.list-picto.border li{border:1px solid #bbb;}
.list-picto .bash img{transform:scale(1.8);}
.box-big-1{padding-top:24px;padding-bottom:28px;}
.box-big-2{padding-top:8px;padding-bottom:8px;border-radius:10px;}
.box-medium{display:inline-block;margin:5px 20px 30px;padding:3px 9px;background:#f4f4f4;border-radius:5px;
	color:#000;font-size:14px;vertical-align:top;}
.span-1{vertical-align:middle;}
.list-picto-1{display:inline-block;vertical-align:middle;font-size:0;}
.list-picto-1 li{display:inline-block;width:35px;vertical-align:middle;}
.list-picto-1 li:not(:last-child){margin-right:9px;}
.list-picto-1 .github {width:29px;}

@media screen and (min-width:430px) {
	.img-container{width:40%;}
}
@media screen and (min-width:1114px) {
	.img-container{width:30%;}
}
@media screen and (min-width:1174px) {
	.img-container{width:35%;}
}
@media screen and (min-width:1280px) {
	.img-container{width:35%;}
}
@media screen and (min-width:1550px) {
	.img-container{width:32%;}
}
@media screen and (min-width:500px) and (max-width:1114px) {
	.box-1{display:block;}
	.img-container{margin-top:15px;}
}
@media screen and (min-width:1114px) { /* TABLET */
	h1{font-size:60px;}
	.box-1 .txt{margin-bottom:20px;padding-top:0;}
	.box-1 .txt p{margin-bottom:46px;}
	.spacer-1{margin-left:50px;}
	.box-small{font-size:24px;}
	.box-medium{margin-left:0;padding:18px;font-size:24px;}
	.list-picto-1 li{width:55px;}
	.list-picto-1 .github{width:50px;}
	.img-container{position:absolute;margin-right:30px;right:0;top:20px;}
	.wrap-box{display:flex;align-items:end;}
	.box-big{margin-left:0;margin-right:0;}
}
@media screen and (min-width:900px) {
	.box-1 img{width:100%;max-width:none;border-radius:390px;}
}
/*******************************************/




/*******************************************/
/**************** FOOTER *******************/
/*******************************************/
footer{display:flex;padding-left:20px;justify-content:start;align-items:center;}
.mail{display:inline-block;vertical-align:middle;width:49px;height:30px;margin:0 23px 0 6px;
	background:url(../img/pictos/picto-mail.png) center center/cover no-repeat;border-radius:5px;letter-spacing:1px;}
.box-small-1{display:inline-block;padding:3px 7px;border-radius:5px;background:#32afca;color:#fff;font-size:16px;
	letter-spacing:1px;vertical-align:middle;}
.box-small-1:hover{text-decoration:none;}
.box-small-2{display:flex;align-items:center;}


@media screen and (max-width:1114px) { /* MOBILE */
	.foot-cont{position:absolute;bottom:-130px;left:0;}
} 
@media screen and (min-width:1114px) { /* TABLET */
	footer{display:inline-block;vertical-align:top;}
	.box-small-2{display:inline-block;padding:3px 7px;border-radius:5px;background:#32afca;color:#fff;font-size:16px;
	letter-spacing:1px;}
	.br{display:inline;}
	.box-small-1,
	.box-small-2{width:276px;font-size:24px;text-align:center;}
}
@media screen and (min-width:1114px) and (max-width:1114px) {
	footer{display:block;margin-bottom:20px;padding-left:0;}
}
/*******************************************/




/*******************************************/
/**************** WIDGETS ******************/
/*******************************************/
@media screen and (min-width:1114px) { /* TABLET */
	.column-1{display:inline-block;width:60%;margin-left:50px;vertical-align:bottom;}
	.column-2{display:inline-block;width:30%;margin-left:40px;vertical-align:bottom;}
}
/*******************************************/










/**********/
/* EXTRAS */
/**********/
/* @media screen and (min-width:px) and (max-width:px){} */

/* @media (prefers-color-scheme:dark) {
  body{background-color:#000;color:#fff;}
} */

/* .center-h{display:flex;justify-content:center;}
.center-v{display:flex;align-items:center;}
.center{display:flex;justify-content:center;align-items:center;} */

/* body{line-height:1.5;-webkit-font-smoothing:antialiased;} */